<h1 class="heading">Groups</h1>
<ul>
    @foreach (var group in ViewBag.Groups)
    {
        <li>
            @group.Name
        </li>
    }
</ul>
<a asp-controller="Groups" asp-action="Add" class="button is-primary">Add Group</a>