<h1 class="heading">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>
            @user.FirstName @user.LastName
            <a class="button" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
        </li>
    }
</ul>
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>